<div class="cocktails row">
  <% @cocktails.each do |cocktail| %>
     <div class="cocktail-card">
     <%= link_to cocktail_path(cocktail) do %>
     <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, height: 400, width: 300, crop: :fill %>
     <% else %>
       <%= image_tag("https://res.cloudinary.com/dm3wt1pa5/image/upload/v1605099276/dmitry-dreyer-STymCDoVqJI-unsplash_dcmnex.jpg", alt:"image", height: 400, width: 300, crop: :fit) %>
     <% end %>
     <p class= "name"><%= cocktail.name %></p>
    <% end %>
    </div>
  <% end %>
</div>
