<div class="container form">
	<h2>Submit a cocktail</h2>
	<p>>> Give a name to your cocktail</p>

	<%= simple_form_for(@cocktail) do |f| %>
	  <%= f.input :name %>
	  <%= f.input :photo, as: :file %>
	  <%= f.submit "Create cocktail", class: "btn btn-primary", id: "sweet-alert-demo" %>
	<% end %>
</div>

