// .home-banner {
//   background-image: url('https://images.unsplash.com/photo-1594584697907-4181579de394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1250&q=80');
//   position: relative;
//   background-position: bottom;
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
//   //   padding-left: 50px;
//   // padding-top: 60px;
// }

.home-text {
	h1 {
		padding-top: 40px;
		font-size: 60px;
	}
}

.home-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),asset-url('cocktail_banner.jpeg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  h1 {
    font-size: 100px;
    letter-spacing: 7px;
    margin-bottom: 30px;
  }
}
